  .center-content {
    min-height: 100vh; /* Altezza minima dell'intera viewport */
    display: flex; /* Usiamo un layout flessibile */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
  }
  .login {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    padding: 5%;
    width: 30%;
    background-color: white;
    border-radius: 20px;
    background-color: #72c5eb8d;
  }

  .carousel.slide{
    max-width: 80%;
    max-height: 500px;
    display: flex;
    margin: auto;
    padding: 0px;
    margin-top: 20px;
    border:solid grey;
    box-shadow: 10px;
    border-radius: 10px;
  }

  .carousel.slide.animate__animated.animate__zoomIn{
    animation-duration: 2s;
  }
  #chiSiamoItaliano{
    display: flex;
    justify-content: center;
    border: solid grey;
    background-color: grey;
    color: white;
    margin: 10px;
    border-radius: 6px;
    font-style: oblique;
  }
  .main-content{
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,.4);
    margin: 5em auto;
    display: flex;
  }
  .company__info{
    background-color: #72c5eb8d;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
  }
  .fa-android{
    font-size:3em;
  }
  @media screen and (max-width: 640px) {
    .main-content{width: 90%;}
    .company__info{
      display: none;
    }
    .login_form{
      border-top-left-radius:20px;
      border-bottom-left-radius:20px;
    }
  }
  @media screen and (min-width: 642px) and (max-width:800px){
    .main-content{width: 70%;}
  }
  .row > h2{
    color:#72c5eb8d;
  }
  .login_form{
    background-color: #fff;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-top:1px solid #ccc;
    border-right:1px solid #ccc;
  }
  form{
    padding: 0 2em;
  }
  .form__input{
    width: 100%;
    border:0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em;
    padding-left: 2em;
    outline:none;
    margin:1.5em auto;
    transition: all .5s ease;
  }
  .form__input:focus{
    border-bottom-color: #72c5eb8d;
    box-shadow: 0 0 5px #72c5eb8d; 
    border-radius: 4px;
  }
  .btn{
    transition: all .5s ease;
    width: 70%;
    border-radius: 30px;
    color:#72c5eb8d;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #72c5eb8d;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  .btn:hover, .btn:focus{
    background-color: #72c5eb8d;
    color:#fff;
  }
  #nomeLogin{
    font-size: large;
    font-size: 40px;
    font-style: oblique;
  }
  #contenuto{
    border: solid grey;
    border-radius: 10px;
    background-color: #72c5eb8d;
    color: white;
  }
  #serviziItaliano{
    display: flex;
    justify-content: center;
    border: solid grey;
    background-color: grey;
    color: white;
    margin: 10px;
    border-radius: 6px;
    font-style: oblique;
  }
  #contenutoServizi{
    border: solid grey;
    border-radius: 10px;
    background-color: #72c5eb8d;
    color: white;
    
  }
  #tecnico{
    display: inline;
    
  }
  
  

