

.form-control {
    border: solid 1px;
    border-color: #212529;
}



#main-richieste {
    margin: 10px;
    height: 500px;


}

#box {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

}

.boxtabella {
    position: relative;
    top: 50px;
    width: 89%;
    height: 20%;

}

.boxstato {
    position: relative;
    display: flex;
    justify-content: right;
    right: 0px;
    width: 90%;
    height: 10%;

}

#main-ricerca {
    margin: 10px;
    height: 500px;
}

#boxtab2 {
    position: relative;
    top: 50px;
}